@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Roboto Mono;
}

:root{
    --bg-color: #31363F;
    --second-bg-color: #252930;
    --text-color: white;
    --main-color: #76ABAE;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 5%;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo{
    word-spacing: -0.5rem;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(
        270deg,
        #D242FF 10%,
        #20D4F6 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}

.navbar a:hover{
    font-weight: 700;
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #D242FF 10%,
        #20D4F6 100%
    );
    margin-left: 5rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

.gradient-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 2rem 5%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1rem;
}
.home-content h3{
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 0;
}

.home-img img{
    width: 32vw;
    border-radius: 50%;
    margin: 0 3rem;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3S ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.typewriter-container{
    display: flex;
    flex-direction: row;
}

.typewriter-box{
    display: inline-block;
    margin-left: 1rem;
}

.typewriter{
    font-size: 3rem;
    border-right: 2px solid;
    padding-right: 3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1.5s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {width: 0}
}

.tech-stack-container{
    padding-top: 0.7rem;
    overflow: hidden;
    display: flex;
    width: 86%;
    height: 50%;
    transition: 0.3s ease-in-out;
}

.tech-stack-container img{
    transition: 0.3s ease-in-out;
}

.tech-stack-container img:hover{
    transform: scale(1.2)translateY(-3px);
}

.tech-stack-track{
    display: flex;
    margin-left: 4rem;
    gap: 0.5rem;
    cursor: pointer;
    animation: scroll 10s linear infinite;
}

.tech-stack-track img {
    position: relative;
    height: 50%;
    width: 18%;
}


::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.heading{
    word-spacing: -1rem;
    text-align: center;
    font-size: 5rem;
    margin: 1rem 0;
}

.projects{
    background: var(--second-bg-color);
}

.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    row-gap: 3rem;
}

.project-card{
    display: flex;
    
    max-width: 25vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 1rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease-in-out;
    height: 100%;
}

.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0  0 50px var(--main-color);
    transform: scale(1.02);
}

.project-card img {
    max-width: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 3rem;
}

.project-desc{
    max-height: 200px;
    font-size: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: .5rem;
}

.btn {
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin-top: 1rem;
    background: linear-gradient(
        270deg,
        #D242FF 10%,
        #20D4F6 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}

.story-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-pic{
    width: 40vw;
    border-radius: 10%;
    margin: 1rem 3rem;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3S ease-in-out;
}

.portrait-pic:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


.story-text h3 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-style: italic;
    font-size: 1.7rem;
}

.story-text p {
    font-weight: 300;
}


.footer{
    background: var(--second-bg-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 1rem;
    background: transparent;
    border-radius: 10%;
    color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    margin: 0.3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
}


.footer ul {
    font-size: 1.2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem 1rem;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.1s ease-in-out;
}
.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

